body {
    background: rgb(208,0,0);
background: linear-gradient(180deg, rgba(208,0,0,1) 0%, rgba(220,47,2,1) 10%, rgba(232,93,4,1) 25%, rgba(244,140,6,1) 75%, rgba(250,163,7,1) 90%, rgba(255,186,8,1) 100%);
}

.mi_header {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.mi_header > video {
    position: absolute;
    top: 0%;
    left: 0%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}


.titulo_seccion {
    display: flex;
    justify-content: center;
}

.redes_sociales > a{
    color: white;
    font-size: 1.5rem;
    padding: 0px 0.3rem 0px 0.3rem;
}

.logo {
    height: 75px;
    width: 75px;
    background-color: rgb(241, 238, 238);
    border-radius: 15px;
}


.accordion h2 {
    padding: 5px 25px;
    background-color: #940d1d;
    font-size: 1.1rem;
    color: #333;
    border-radius: 20px;
}

.collapsed {
    background-color: #f48c06;
}
.accordion h2:hover {
    background-color: #44040b;
}

.accordion-item {
    background-color: transparent;
}

.boton_tarjeta {
    display: block;
    position: relative;
    
}

.tarjeta_introduccion {
    border-radius: 15px;
}

.card_famosos {
    transition: transform 0.3s;
    border-radius: 15px;
    height: 100%;
    width: auto;
    color: white;
    background-color: #44040b;
}

.card_famosos > img {
    height: auto;
    width: auto;
    padding: 3%;
    border-radius: 15px;
}

.card-body > p {
    height: 100%;
    text-align: justify;
    margin: 10px 20px;
} 

.card-body > a {
    margin: 5%;
}

.card_famosos:hover {
    transform: scale(0.9);
}

.img_eventos {
    border-radius: 10px;
}

.img-fluid {
    border-radius: 10px;
}

.hitos {
    height: 500px;
    width: auto;
}

